
$("#notes_c .page:first").replaceWith("<div class='page'><%= escape_javascript(render(@note)) %></div>");

<%= render "put_cursor_at_end" %>

<%= render "save_note_after_edit" %>

// Removes buttons
$(".submit_note_edit").remove();